- hosts: '{{ myhosts }}'
  become: true 
  tasks: 
    - name: Change multiple lines  
      lineinfile:  
        path: /home/ok8cp5/__.bashrc__Testfile
        backup: true
        line: "{{ item.line }}"
        regexp: "{{ item.regexp }}"
      loop:
        - line: alias dfh='df -ah'
          regexp: ^alias dfh='df -ah'
        - line: alias psram='echo "USER       PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND";\ps aux | sort -rnk 4 | head'
          regexp: ^alias psram='
        - line: alias ggn='gibtgarsnicht'
          regexp: ^alias ggn='gibtgarsnicht'
