- hosts: '{{ myhosts }}'
  become: true
  tasks:
    - name: Create a directory
      ansible.builtin.file:
        path: "{{ item.path }}"
        owner: ok8cp5
        group: ok8cp5
        state: directory
      loop:
        - path: /home/ok8cp5/.config/old-autostart-scripts/
        - path: /aexdisk/bigaex
        
####
    - name: copy multiple items
      ansible.builtin.copy: 
        src: "{{ item.src }}" 
        dest: "{{ item.dest }}"
        owner: ok8cp5
        group: ok8cp5
      loop:
        - src: ~/githubaexx/skript/ansible/autostart-ssh-unlock.sh
          dest: /home/ok8cp5/.config/autostart-scripts/autostart-ssh-unlock.sh
        - src: ~/githubaexx/skript/ansible/autostart-ssh-unlock.sh.desktop
          dest: /home/ok8cp5/.config/autostart/autostart-ssh-unlock.sh.desktop
##
    - name: copy multiple items
      ansible.builtin.copy: 
        src: "{{ item.src }}" 
        dest: "{{ item.dest }}"
        owner: root
        group: root
      loop:        
        - src: ~/githubaexx/skript/ansible/unison.logrotate
          dest: /etc/logrotate.d/unison    
####
    - name: Ensure scripts are executable
      ansible.builtin.file:
        path: "{{ item.path }}"
        mode: "0755"
      loop:
        - path: /home/ok8cp5/.config/autostart-scripts/autostart-ssh-unlock.sh
####
    - name: Create a symbolic links
      ansible.builtin.file:
        # src: /file/to/link/to , dest: /path/to/symlink
        src: '{{ item.src }}'
        dest: '{{ item.dest }}'
        owner: ok8cp5
        group: ok8cp5
        state: link
      loop:
        - { src: bigaex/Aex/Linux/config/.GraHu, dest: /home/ok8cp5/.GraHu }
        - { src: bigaex/Aex/Linux/config/.smbcredentials, dest: /home/ok8cp5/.smbcredentials }
        - { src: bigaex/Aex/Linux/config/.netrc, dest: /home/ok8cp5/.netrc }
        - { src: /aexdisk, dest: /home/ok8cp5/aexdisk  }
        - { src: /aexdisk/bigaex, dest: /home/ok8cp5/bigaex  }

